<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<body>
<div class="container">
    
    <div class="row">
    <h1 class="text-center">Geting Form data directly using body-parser</h1>
        <div style="width:30%; margin: 0 auto;" >
<form action="/showdata"  method ="post">
    <div class="form-group">
        <input class ="form-control" type ="text" name="name" placeholder ="name"></div>
      <input class ="form-control" type ="text" name="email" placeholder ="email"></div>
    <div class="form-group text-center"> <button class="btn btn-md   btn-primary"> Submit</button></div>
</form>
  </div>  
 
        </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <div class="row">
    <h1 class="text-center">Taking form data by first cobverting into Json  </h1>
        <div style="width:30%; margin: 0 auto;" >
<form action="/" class="login"  method ="post">
    <div class="form-group">
        <input class ="form-control" type ="text" name="fname" placeholder ="name"></div>
      <input class ="form-control" type ="text" name="femail" placeholder ="email"></div>
    <div class="form-group text-center"> <button class="btn btn-md   btn-primary"> Submit</button></div>
</form>
  
 
    </div>
       <script>
    function onSubmit( form ){
  var data = JSON.stringify( $(form).serializeArray() ); //  <-----------

 
}
        </script>
</form>
</body>
</html>